html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    background-color: #f5f6f8;
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR */

.navbar {
    padding: 15px 0;
}

.navbar-brand {
    font-size: 22px;
}


/* STORE TITLE */

.store-title {
    font-weight: 700;
    color: #212529;
}


/* SEARCH */

.search-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    height: 48px;
}


/* PRODUCT CARDS */

.product-card {
    border: none;
    border-radius: 12px;
    transition: 0.2s;
}

.product-card:hover {
    transform: translateY(-4px);
}


/* PRICE */

.price {
    color: #198754;
    font-weight: bold;
}


/* BUTTONS */

.btn {
    border-radius: 7px;
}


/* CARDS */

.card {
    border-radius: 12px;
}


/* TABLE */

.table {
    background-color: white;
}


/* FOOTER */

footer {
    background-color: white;
}